<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{clientes/layout}">
<head>
<meta charset="utf-8">
<title>Karen Candy's</title>
</head>
<body>
	<!-- Start Slider Area -->
	<section layout:fragment="corpo">
		<section class="ftr__product__area ptb--100">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section__title--2 text-center">
							<h2 class="title__line">Produtos</h2>
							<p>Confiram nossos produtos disponiveis</p>
						</div>
					</div>
				</div>
				<div class="row">
				
					<div class="product__wrap clearfix">
						<!-- Start Single Category -->
						
						<div class="col-md-4 col-lg-3 col-sm-4 col-xs-12" th:each="produto : ${produtos}">
							<div class="category">
								<div class="ht__cat__thumb">
									<img class="img-fluid"
										th:src="@{/mostrarImagem/{imagem}(imagem=${produto.imagem})}">
								</div>
								<div class="fr__hover__info">
									<ul class="product__action">
										<li><a href="#"><i
												class="icon-heart icons"></i></a></li>

										<li><a th:href="@{/adicionarCart/{id}(id=${produto.id})}"><i class="icon-handbag icons"></i></a></li>
									</ul>
								</div>
								<div class="fr__product__inner">
									<h4>
										<a><span th:text="${produto.nomeProduto}"></span></a>
									</h4>
									<ul class="fr__pro__prize">
										<li><span th:text="${produto.valor}"></span></li>
									</ul>
								</div>
							</div>
						</div>
						
						<!-- End Single Category -->
					</div>
					
			</div> <!-- 	final da row -->
			</div>
		</section>
		<!-- End Product Area -->

		<!-- Start Top Rated Area -->
		<section class="top__rated__area bg__white pt--100 pb--110">
			<div class="container">
				<div class="row" >
					<div class="col-lg-12">
						<div class="section__title--2 text-center">
							<h2 class="title__line">Top Rated</h2>
							<p>But I must explain to you</p>
						</div>
					</div>
				</div>
				<div class="row mt--20" >
					<!-- Start Single Product -->
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" >
						<div class="htc__best__product">
							<div class="htc__best__pro__thumb">
								<a href="product-details.html"> <img
									src="/cliente/images/product-2/sm-img-2/1.jpg"
									alt="small product">
								</a>
							</div>
							<div class="htc__best__product__details">
								<h2>
									<a href="product-details.html">dummy Product title</a>
								</h2>
								<ul class="rating">
									<li><i class="icon-star icons"></i></li>
									<li><i class="icon-star icons"></i></li>
									<li><i class="icon-star icons"></i></li>
									<li class="old"><i class="icon-star icons"></i></li>
									<li class="old"><i class="icon-star icons"></i></li>
								</ul>
								<ul class="top__pro__prize">
									<li class="old__prize">$82.5</li>
									<li>$75.2</li>
								</ul>
								<div class="best__product__action">
									<ul class="product__action--dft">
										<li><a href="#"><i
												class="icon-heart icons"></i></a></li>
										<li><a th:href="@{/cart}"><i class="icon-handbag icons"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Product -->
					<!-- Start Single Product -->
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
						<div class="htc__best__product">
							<div class="htc__best__pro__thumb">
								<a href="product-details.html"> <img
									src="/cliente/images/product-2/sm-img-2/2.jpg"
									alt="small product">
								</a>
							</div>
							<div class="htc__best__product__details">
								<h2>
									<a href="product-details.html">dummy Product title</a>
								</h2>
								<ul class="rating">
									<li><i class="icon-star icons"></i></li>
									<li><i class="icon-star icons"></i></li>
									<li><i class="icon-star icons"></i></li>
									<li class="old"><i class="icon-star icons"></i></li>
									<li class="old"><i class="icon-star icons"></i></li>
								</ul>
								<ul class="top__pro__prize">
									<li class="old__prize">$82.5</li>
									<li>$75.2</li>
								</ul>
								<div class="best__product__action">
									<ul class="product__action--dft">
										<li><a href="wishlist.html"><i
												class="icon-heart icons"></i></a></li>
										<li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>
										<li><a href="#"><i class="icon-shuffle icons"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Product -->
					<!-- Start Single Product -->
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
						<div class="htc__best__product">
							<div class="htc__best__pro__thumb">
								<a href="product-details.html"> <img
									src="/cliente/images/product-2/sm-img-2/3.jpg"
									alt="small product">
								</a>
							</div>
							<div class="htc__best__product__details">
								<h2>
									<a href="product-details.html">dummy Product title</a>
								</h2>
								<ul class="rating">
									<li><i class="icon-star icons"></i></li>
									<li><i class="icon-star icons"></i></li>
									<li><i class="icon-star icons"></i></li>
									<li class="old"><i class="icon-star icons"></i></li>
									<li class="old"><i class="icon-star icons"></i></li>
								</ul>
								<ul class="top__pro__prize">
									<li class="old__prize">$82.5</li>
									<li>$75.2</li>
								</ul>
								<div class="best__product__action">
									<ul class="product__action--dft">
										<li><a href="wishlist.html"><i
												class="icon-heart icons"></i></a></li>
										<li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>
										<li><a href="#"><i class="icon-shuffle icons"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Product -->
				</div>
			</div>
		</section>
		<!-- End Top Rated Area -->
	</section>
	<!-- End Blog Area -->
	<!-- End Banner Area -->
</body>

</html>