<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{administrativo/fragments/layout}">
<head>
<meta charset="UTF-8"></meta>
<title>Página de Cadastros</title>
</head>

<body>
	<!-- page content -->
	<div class="right_col" role="main" layout:fragment="corpo">
		<div class="row tile_count">
			<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
				<span class="count_top"><i class="fa fa-user"></i> Total de
					Visitantes</span>
				<div class="count green">2.315</div>
				<!-- 				<span class="count_bottom"><i class="green"><i -->
				<!-- 						class="fa fa-sort-asc"></i>34% </i> From last Week</span> -->
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
				<span class="count_top"><i class="fa fa-user"></i> Visitas
					Semanais</span>
				<div class="count">380</div>
				<span class="count_bottom"><i class="green"><i
						class="fa fa-sort-asc"></i>8% </i> na última semana</span>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
				<span class="count_top"><i class="fa fa-male"></i> Visitantes
					Homens </span>
				<div class="count">70</div>
				<span class="count_bottom"><i class="green"><i
						class="fa fa-sort-asc"></i>14% </i> na última semana</span>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
				<span class="count_top"><i class="fa fa-female"></i>
					Visitantes Mulheres </span>
				<div class="count">310</div>
				<span class="count_bottom"><i class="green"><i
						class="fa fa-sort-asc"></i>22% </i> na última semana</span>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
				<span class="count_top"><i class="fa fa-check-circle"></i>
					Indicações </span>
				<div class="count">37</div>
				<span class="count_bottom"><i class="green"><i
						class="fa fa-sort-asc"></i>3% </i> na última semana</span>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
				<span class="count_top"><i class="fa fa-times-circle"></i>
					Contra Indicações</span>
				<div class="count">2</div>
				<span class="count_bottom"><i class="red"><i
						class="fa fa-sort-desc"></i>72% </i> na última semana</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-sm-5 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Visitas/Faixa Etária</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li><a class="close-link"><i class="fa fa-close"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<h4>Quantidade de Visitantes dividido por Faixas Etárias</h4>
						<br>
						<div class="widget_summary">
							<div class="w_left w_25">
								<span>08 à 15 anos</span>
							</div>
							<div class="w_center w_55">
								<div class="progress">
									<div class="progress-bar bg-green" role="progressbar"
										aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
										style="width: 13%;">
										<span class="sr-only">20% Complete</span>
									</div>
								</div>
							</div>
							<div class="w_right w_20">
								<span>310</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<br>
						<div class="widget_summary">
							<div class="w_left w_25">
								<span>16 à 23 anos</span>
							</div>
							<div class="w_center w_55">
								<div class="progress">
									<div class="progress-bar bg-green" role="progressbar"
										aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
										style="width: 44%;">
										<span class="sr-only">60% Complete</span>
									</div>
								</div>
							</div>
							<div class="w_right w_20">
								<span>1017</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="widget_summary">
							<div class="w_left w_25">
								<span>24 a 31 anos</span>
							</div>
							<div class="w_center w_55">
								<div class="progress">
									<div class="progress-bar bg-green" role="progressbar"
										aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
										style="width: 20%;">
										<span class="sr-only">60% Complete</span>
									</div>
								</div>
							</div>
							<div class="w_right w_20">
								<span>453</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="widget_summary">
							<div class="w_left w_25">
								<span>32 a 39 anos</span>
							</div>
							<div class="w_center w_55">
								<div class="progress">
									<div class="progress-bar bg-green" role="progressbar"
										aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
										style="width: 13%;">
										<span class="sr-only">60% Complete</span>
									</div>
								</div>
							</div>
							<div class="w_right w_20">
								<span>300</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="widget_summary">
							<div class="w_left w_25">
								<span>40 anos ou +</span>
							</div>
							<div class="w_center w_55">
								<div class="progress">
									<div class="progress-bar bg-green" role="progressbar"
										aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
										style="width: 10%;">
										<span class="sr-only">60% Complete</span>
									</div>
								</div>
							</div>
							<div class="w_right w_20">
								<span>235</span>
							</div>
							<div class="clearfix"></div>
						</div>

					</div>
				</div>
			</div>
			<!-- 			<div class="col-md-4 col-sm-4 col-xs-12"> -->
			<!-- 				<div class="x_panel tile fixed_height_320 overflow_hidden"> -->
			<!-- 					<div class="x_title"> -->
			<!-- 						<h2>Dispositivos de acessos</h2> -->
			<!-- 						<ul class="nav navbar-right panel_toolbox"> -->
			<!-- 							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> -->
			<!-- 							</li> -->
			<!-- 							<li><a class="close-link"><i class="fa fa-close"></i></a></li> -->
			<!-- 						</ul> -->
			<!-- 						<div class="clearfix"></div> -->
			<!-- 					</div> -->
			<!-- 					<div class="x_content"> -->
			<!-- 						<table class="" style="width: 100%"> -->
			<!-- 							<tr> -->
			<!-- 								<th style="width: 37%;"> -->
			<!-- 									<p>5 mais usados</p> -->
			<!-- 								</th> -->
			<!-- 								<th> -->
			<!-- 									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"> -->
			<!-- 										<p class="">Dispositivo</p> -->
			<!-- 									</div> -->
			<!-- 									<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"> -->
			<!-- 										<p class="">%</p> -->
			<!-- 									</div> -->
			<!-- 								</th> -->
			<!-- 							</tr> -->
			<!-- 							<tr> -->
			<!-- 								<td> -->
			<!-- 									<canvas class="canvasDoughnut" height="140" width="140" -->
			<!-- 										style="margin: 15px 10px 10px 0"></canvas> -->
			<!-- 								</td> -->
			<!-- 								<td> -->
			<!-- 									<table class="tile_info"> -->
			<!-- 										<tr> -->
			<!-- 											<td> -->
			<!-- 												<p> -->
			<!-- 													<i class="fa fa-square blue"></i>Computador -->
			<!-- 												</p> -->
			<!-- 											</td> -->
			<!-- 											<td>40%</td> -->
			<!-- 										</tr> -->
			<!-- 										<tr> -->
			<!-- 											<td> -->
			<!-- 												<p> -->
			<!-- 													<i class="fa fa-square green"></i>Android -->
			<!-- 												</p> -->
			<!-- 											</td> -->
			<!-- 											<td>20%</td> -->
			<!-- 										</tr> -->
			<!-- 										<tr> -->
			<!-- 											<td> -->
			<!-- 												<p> -->
			<!-- 													<i class="fa fa-square aero"></i>MIUI -->
			<!-- 												</p> -->
			<!-- 											</td> -->
			<!-- 											<td>15%</td> -->
			<!-- 										</tr> -->
			<!-- 										<tr> -->
			<!-- 											<td> -->
			<!-- 												<p> -->
			<!-- 													<i class="fa fa-square purple"></i>IOS -->
			<!-- 												</p> -->
			<!-- 											</td> -->
			<!-- 											<td>15%</td> -->
			<!-- 										</tr> -->
			<!-- 										<tr> -->
			<!-- 											<td> -->
			<!-- 												<p> -->
			<!-- 													<i class="fa fa-square red"></i>Outros -->
			<!-- 												</p> -->
			<!-- 											</td> -->
			<!-- 											<td>10%</td> -->
			<!-- 										</tr> -->
			<!-- 									</table> -->
			<!-- 								</td> -->
			<!-- 							</tr> -->
			<!-- 						</table> -->
			<!-- 					</div> -->
			<!-- 				</div> -->
			<!-- 			</div> -->
			<div class="col-md-7 col-sm-7 col-xs-12">
				<div class="row">

					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2>Localização dos Visitantes</h2>
								<ul class="nav navbar-right panel_toolbox">
									<li><a class="collapse-link"><i
											class="fa fa-chevron-up"></i></a></li>
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" role="button" aria-expanded="false"><i
											class="fa fa-wrench"></i></a>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Settings 1</a></li>
											<li><a href="#">Settings 2</a></li>
										</ul></li>
									<li><a class="close-link"><i class="fa fa-close"></i></a>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<div class="dashboard-widget-content">
									<div class="col-md-4 hidden-small">
										<h2 class="line_30">2315 visitantes de 9 cidades</h2>

										<table class="countries_list">
											<tbody>
												<tr>
													<td>Nova Londrina</td>
													<td class="fs15 fw700 text-right">45%</td>
												</tr>
												<tr>
													<td>Marilena</td>
													<td class="fs15 fw700 text-right">30%</td>
												</tr>
												<tr>
													<td>Loanda</td>
													<td class="fs15 fw700 text-right">15%</td>
												</tr>
												<tr>
													<td>Paranavaí</td>
													<td class="fs15 fw700 text-right">6%</td>
												</tr>
												<tr>
													<td>Outras Cidades</td>
													<td class="fs15 fw700 text-right">4%</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12"
										style="height: 230px;"></div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- end of weather widget -->
		</div>
	</div>
</body>
</html>
